/* General Body */
html, body{
    height:100%;
    margin: 0;
    padding: 0;
}
body{
    background: no-repeat center center fixed;
    background-image:url(images/CumberlandGapSandGreen.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-position:center;
    background-blend-mode:soft-light;
}
* { box-sizing: border-box; }
.container{ /* Holds header, content, and footer */
    min-height: 100%;
    position: relative;
}

/* Header / Link Bar */
#header{
    text-align: center;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 10.3rem;
}
.logo{          /* Logo picture */
    height:6rem;
}
#menu{          /* Container for page link buttons */
    margin: auto;
    width: 30%;
    background: black;
}
.pageLink{      /* Buttons to other pages */
    margin: auto;
    display: block;
    width: 33.333%;
    height: 4rem;
    background-color: rgba(255,255,255,0);   /* RGB color and Alpha transparency percentage [0,1] */
    color: white;
    border: 0px solid white;                 /* Border (unaffected by "background-color" */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 1000ms, color 1000ms;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
}
.pageLink:hover{
    background-color:rgba(255,255,255,1);
    color:#222;
    cursor:pointer;
    transition:background-color 1000ms, color 1000ms;
}

/* Footer / Social Media Links */
#footer{
    margin-top: 0px;
    text-align: center;
    color: white;
    background: black;
    width: 100%;
    height: 10rem;
    bottom: 0;
    position: fixed;    
}

.contactLinks{  /* Row for social media buttons */
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 30em;       /* #buttons * (buttonWidth + 2*buttonMargin) */
    background: black;
}
.social{        /* Social media button (use <a> tag around) */
    margin: 1em;
    height: 3em;
    border-radius: 1.5em;
    padding: 4px;
    opacity: 0.5;
    transition:opacity 500ms, border-radius 1000ms;
    text-decoration:none;
    float: left;
}
.social:hover{  /* Social media button animation */
    opacity: 1;
    border-radius: 10px;
    transition:opacity 500ms, border-radius 1000ms;
}

/* Multi-page / universal elements */
.content{
    padding-top: 11rem;
    padding-bottom: 11rem;
    margin-left:5%;
    margin-right:5%;
}
.content:after{
  content: "";
  display: table;
  clear: both;
}

/* Home Page (Index) */
.homepage{      /* Special settings for homepage */
    overflow: hidden    /* Stop scrolling */
}
.title{         /* Content in middle */
    width:100%;
    height:80%;
    margin:0 auto;
    position:absolute;
    top:11rem; bottom:0; right:0px; left:0px;
    /* padding-top:11rem;
    padding-bottom:11rem; */
}
.subtitle{
    display:block;
    margin-top:15px;
    text-align: center;
    color:white;
    font-size: 5vh;
    font-family:serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* About Me Page */
#aboutBG{       /* Background */
  background-color: white;
  margin-top: 20px;
  padding: 30px;
}

.headshot{
    width:30%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:5px solid black;
}

/* Project Page */
.project{       /* individual project card */
    background-color: white;
    margin-top: 20px;
    padding: 30px;
}
.image{         /* Project image */
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Curriculum Vitae Page */
#cv {           /* Background */
    background-color: white;
    margin-top: 20px;
    padding: 30px;
}

.resume{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:90% 
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    #menu { 
        width: 100%;
    }
    .contactLinks{
        width: 18em;
    }
    .social {
        margin: 0.5em;
        height: 2em;
        border-radius: 0.5em;
        padding: 4px;
    }
    .content{
        margin-left:0;
        margin-right:0;
    }
    
    .headshot{
        width: 80%;
    }
    
    .resume{
        width:100% 
    }
}

